<nav class="navbar">
    <div class="navbar-toggle">
        <div class="field-switch">
            <input id="pinCrateMenu" type="checkbox" name="menu-pinned" value="yes" />
            <label for="pinCrateMenu">{{ icon('pin-angle') }} Sidebar</label>
        </div>
        
        <script type="text/javascript">
            (function() {
                const menuPinned = localStorage.getItem('menu-pinned') || 'no';
                const input = document.querySelector('#pinCrateMenu');
                input.checked = menuPinned === 'yes';

                input.addEventListener('change', (event) => {
                    if (event.target.checked) {
                        localStorage.setItem('menu-pinned', 'yes');
                        document.documentElement.classList.add('menu-pinned');
                    } else {
                        localStorage.setItem('menu-pinned', 'no');
                        document.documentElement.classList.remove('menu-pinned');
                    }
                });
            })();
        </script>
    </div>

    {% for key, menu in backend.menus %}
        {% if menu.pages|length > 0 %}
            <ul class="navbar-nav" data-crate-menu="{{ key }}">
                <li class="nav-title">{{ menu.label }}</li>

                {% set classes = [menu.config.class | default([])] %}
                {% for slug, page in menu.pages %}
                    {% set classes = classes | merge([page.config.class | default([])]) %}
                    {# todo //todo active class #}

                    <li class="nav-item {{ classes | filter(i => i|length > 0)|join(' ')  }}">
                        {# todo //todo path #}
                        <a href="/system{{ slug }}" class="nav-link">
                            <span class="nav-icon">{{ icon(page.config.icon, 20) }}</span>
                            <span class="nav-text">{{ page.label }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</nav>